In [1]:
import os
os.chdir(os.path.dirname(os.getcwd()))
print(os.getcwd())

from studytimeboard.utils.gsheet import GoogleSheet
from studytimeboard.data_analysis import *
from studytimeboard.constant import *

/home/congyu/congyu_program/pythons/inits/p_study_time_board

In [2]:
gs = GoogleSheet.read_from(STUDY_TIME_TABLE_NAME)

In [5]:
sheet = gs.table.worksheet(SHEET1)
print(dir(sheet))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_finder', '_list_cells', '_properties', 'acell', 'add_cols', 'add_protected_range', 'add_rows', 'append_row', 'append_rows', 'batch_get', 'batch_update', 'cell', 'clear', 'clear_basic_filter', 'client', 'col_count', 'col_values', 'copy_to', 'delete_columns', 'delete_dimension', 'delete_row', 'delete_rows', 'duplicate', 'export', 'find', 'findall', 'format', 'freeze', 'frozen_col_count', 'frozen_row_count', 'get', 'get_all_records', 'get_all_values', 'id', 'insert_row', 'insert_rows', 'merge_cells', 'range', 'resize', 'row_count', 'row_values', 'set_basic_filter', 'sort', 'spreadsheet', 'title', 'update', 'update_acell', 'update_cell', 'update_cells', 'update_index', 'update_title', 'updated', 'url']

In [6]:
sheet.append_row(["test" for _ in range(4)])

{'spreadsheetId': '1FGoY2IrXavkyiRGZQkvTIgHwHmIrlohR-IDoQ5K4hw4',
 'tableRange': 'duration!A1:D95',
 'updates': {'spreadsheetId': '1FGoY2IrXavkyiRGZQkvTIgHwHmIrlohR-IDoQ5K4hw4',
  'updatedRange': 'duration!A96:D96',
  'updatedRows': 1,
  'updatedColumns': 4,
  'updatedCells': 4}}

In [5]:
df_dur = gs.sheet(sheet_name=SHEET1, least_col_name=START_TIME)
df_dur

      name        date start_time end_time
0    Alpha  2020.11.09      11:00    12:00
1    Delta  2020.11.09      11:00    12:00
2    Delta  2020.11.09      08:00    15:00
3     Beta  2020.11.09      08:00    15:00
4   Diqing  2020.11.09      19:00    23:00
..     ...         ...        ...      ...
89  Congyu  2020.12.16      11:20    12:00
90  Congyu  2020.12.16      12:00    12:10
91  Congyu  2020.12.17      00:01    00:25
92  Congyu  2020.12.18      11:00    12:00
93  Congyu  2020.12.18      18:00    19:00

[94 rows x 4 columns]

In [6]:
df_eve = gs.sheet(sheet_name=SHEET2, least_col_name=NAME)
df_eve

       name   act        date   time
0   LiuYang    go  2020.11.30  10:00
1    Congyu    go  2020.11.30  10:00
2   Nia.Dai  hold  2020.11.30  10:50
3   LiuYang  hold  2020.11.30  10:50
4    Congyu    go  2020.11.30  11:00
..      ...   ...         ...    ...
81  Shangsu  hold  2020.12.19  18:00
82  Shangsu    go  2020.12.19  19:20
83  Shangsu  hold  2020.12.19  20:40
84  Shangsu    go  2020.12.19  23:00
85   Congyu    go  2020.12.20  10:00

[86 rows x 4 columns]

In [2]:
df = merge_dur_eve(df_dur, df_eve)
     
df.head()

     name        date start_time end_time
0   Alpha  2020.11.09      11:00    12:00
1   Delta  2020.11.09      11:00    12:00
2   Delta  2020.11.09      08:00    15:00
3    Beta  2020.11.09      08:00    15:00
4  Diqing  2020.11.09      19:00    23:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 36
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        125 non-null    object
 1   date        125 non-null    object
 2   start_time  125 non-null    object
 3   end_time    125 non-null    object
dtypes: object(4)
memory usage: 4.9+ KB

In [5]:
df_r = add_analysis_columns(df)
df_r.head()

,name,date,start_time,end_time,start_time_datetime,end_time_datetime,minutes,date_datetime,weekday
0,Alpha,2020.11.09,11:00,12:00,1900-01-01 11:00:00,1900-01-01 12:00:00,60.0,2020-11-09,Monday
1,Delta,2020.11.09,11:00,12:00,1900-01-01 11:00:00,1900-01-01 12:00:00,60.0,2020-11-09,Monday
2,Delta,2020.11.09,08:00,15:00,1900-01-01 08:00:00,1900-01-01 15:00:00,420.0,2020-11-09,Monday
3,Beta,2020.11.09,08:00,15:00,1900-01-01 08:00:00,1900-01-01 15:00:00,420.0,2020-11-09,Monday
4,Diqing,2020.11.09,19:00,23:00,1900-01-01 19:00:00,1900-01-01 23:00:00,240.0,2020-11-09,Monday

In [7]:
df_r = to_this_week_table(df_r)
df_r.head()

,name,date,start_time,end_time,start_time_datetime,end_time_datetime,minutes,date_datetime,weekday
82,Congyu,2020.12.07,00:01,00:50,1900-01-01 00:01:00,1900-01-01 00:50:00,49.0,2020-12-07,Monday
83,Congyu,2020.12.08,18:30,19:30,1900-01-01 18:30:00,1900-01-01 19:30:00,60.0,2020-12-08,Tuesday
84,Congyu,2020.12.10,13:30,14:00,1900-01-01 13:30:00,1900-01-01 14:00:00,30.0,2020-12-10,Thursday
85,Congyu,2020.12.10,23:55,23:59,1900-01-01 23:55:00,1900-01-01 23:59:00,4.0,2020-12-10,Thursday
86,Congyu,2020.12.11,00:01,01:00,1900-01-01 00:01:00,1900-01-01 01:00:00,59.0,2020-12-11,Friday